include lg/*.h
include lg/lgFile.c
include lg/lgSerial.c
include lg/lgUtil.c
include lg/lgI2C.c
include lg/lgNotify.c
include lg/lgMD5.c
include lg/lgGpio.c
include lg/lgErr.c
include lg/lgCmd.c
include lg/lgHdl.c
include lg/lgCfg.c
include lg/lgDbg.c
include lg/lgExec.c
include lg/lgPthTx.c
include lg/lgPthAlerts.c
include lg/lgSPI.c
include lg/lgCtx.c
include lg/lgThread.c
include lg/lgScript.c
include lg/lgPthSocket.c
include lg/rgpiod.c
include lg/PY_LGPIO/lgpio.i
include lg/PY_LGPIO/lgpio_extra.py
include lgpio.i
include lgpio_wrap.c
include lgpio.py
include lgpio_extra.py
include setup.py
include README.md
include LICENSE
